<html>

<style>
    .text-Blue{
        color:blue
    }
</style>
<body>

{{data | safe }}

<hr>

<h2 class="text-Blue" >Best Model For Your Data</h2>

<h4>{{best_model}}</h4>

<button onclick="downloadPickle()">Download Pickle File</button>

<script>
  function downloadPickle() {
    // Create a new link element
    const a = document.createElement('a');
    // Set the href and download attributes of the link element
    a.href = '/download-pickle';
    a.download = 'pickle-file.pkl';
    // Append the link element to the document
    document.body.appendChild(a);
    // Trigger the download
    a.click();
  }
</script>



</body>
</html>